#entete
{
	font-size: 2em;
	text-align: center;
	font-family: "AGENCY FB";
	text-transform: uppercase;
	border: 3px ridge black;
	margin-bottom: 10px;
	/*border-bottassets/css/style.cssom: 3px ridge black;*/
	/*border:1px solid green;*/
}
#users{
	padding:30px
}
#articleContener{
	position: absolute;
	width: 80%;
	left:20%;
}
#menuCategories{
	position: fixed;
	width: 11%;
}
#contenu
{
	float: left;
	width: 80%;
	text-align: justify;
	/*border:1px solid yellow;*/
}
#menu
{
	margin-left: 80%;
	text-align: center;
	/*border:1px solid red;*/
}
#menu li
{
	list-style-type: none;
}
#menu h1
{
	margin-top: 0px;
	padding-top: 0px;
	font-family: "AGENCY FB";
	text-transform: uppercase;
}
.article
{
	margin: 10px;
	padding: 10px;
	border:3px double black;
	background-color: rgba(0, 255, 0, 0.1);
}
.bg {
	/* The image used */
	/*background-image: url("../assets/images/bg.jpg");
	*/
	/* Full height */
	height: 100%;
	background-color: red;
	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
  }

.user-menu ul {
	padding:0;
	margin:0;
	list-style-type:none;
}
.user-menu li {
	margin-left:2px;
	float:left; /*pour IE*/
}
.user-menu ul li a {
	display:block;
	float:left;   
	background-color:#6495ED;
	color:black;
	text-decoration:none;
	text-align:center;
	padding:5px;
	border:2px solid;
	border-color:#DCDCDC #696969 #696969 #DCDCDC;
}
.user-menu ul li a:hover {
	background-color:#D3D3D3;
	border-color:#696969 #DCDCDC #DCDCDC #696969;
} 
.menu-categories ul {
	padding:0;
	margin:0;
	list-style-type:none;
	width: 100%;
}
.menu-categories li {
	margin-left:2px;
	width: 100%;

}
.menu-categories ul li a {
	width: 100%;
	display: block;
	background-color:#cec9c2;
	color:black;
	text-decoration:none;
	text-align:center;
	padding:5px;
	border:2px solid;
	border-color:#DCDCDC #696969 #696969 #DCDCDC;
}
.menu-categories ul li a:hover {
	background-color:#D3D3D3;
	border-color:#696969 #DCDCDC #DCDCDC #696969;
} 